/* fiche personnage */
.sacremonde-fiche:before{z-index:-1;content:'';background-image:var(--papierdechire);background-size: cover;background-position:bottom center;transform:rotate(-180deg);position:absolute;bottom:99%;right:0;left:0;height:50px;width:100%;}
.sacremonde-fiche:after{z-index:-1;content:'';background-image:var(--papierdechire);background-size: cover;background-position:bottom center;position:absolute;top:99%;right:0;left:0;height:50px;width:100%;}
.sacremonde-fiche{background:var(--bgpapierdechire);margin:50px auto;position:relative;padding: 20px;filter: drop-shadow(0px 2px 1px rgba(0,0,0,0.3));}
.sacremonde-fiche h1{font-weight: 700;text-transform: uppercase;font-size: 4em;font-family: var(--primaryfamilyfont);color: transparent !important;background-clip: text;-webkit-background-clip: text;}
.sacremonde-fiche h2{width:60%;padding:5px;border-radius:5px;font-weight: 700;font-size: 1.5em;font-family: var(--secondaryfamilyfont);}
.sacremonde-fiche h3{display: inline-block;color: var(--primaryfont);padding: 5px;border-radius: 5px;font-weight: 700;text-transform: uppercase;font-size: 2em;margin: 10px;font-family: var(--primaryfamilyfont);}
.sacremonde-fiche h4{padding: 5px;border-radius: 5px;font-weight: 700;font-size: 1.8em;font-family: var(--secondaryfamilyfont);}
.data-fiche{background-color: var(--bgblocpapierdechire);filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.3));margin: 0 auto;border-radius: 10px;padding: 10px;}
.data-fiche h1{color: var(--accentcolor)!important;text-align: center;font-weight: 700;text-transform: uppercase;font-size: 2.5em;font-family: var(--primaryfamilyfont);}
.data-fiche-img{display: flex;flex-direction: row;}.data-fiche-img .img-avatar{height:320px;width:200px;border-width:5px;border-style:solid;background-size:auto 100%;background-position:center;background-repeat:no-repeat;}
.avatar-img-credit{background-color: var(--primarycolor);padding: 0 5px;float: right;font-size: 0.8em;}.avatar-img-credit a{font-weight: 700;text-transform: uppercase;font-size: 1.5em;font-family: var(--primaryfamilyfont);}
.data-fiche .data-fiche-img div h1{border-radius: 0px 10px 10px 0px;color: var(--primaryfont)!important;background-color: var(--accentcolor);background-clip:initial;-webkit-background-clip:initial;}
.data-fiche .data-fiche-img div p, .fiche-physique p, .fiche-caractere p, .fiche-possessions p, .fiche-dragon-details div, .fiche-magie p{padding:5px;}
span.tag-data{display: inline-flex;flex-direction: row;flex-wrap: wrap;align-content: center;align-items: center;margin: 5px;padding: 8px;border-radius: 5px;filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.3));font-weight: 700;letter-spacing: 1px;text-transform: uppercase;font-family: var(--primaryfamilyfont);}
.fiche-citation{text-align: center;font-weight: 700;font-size: 1.5em;font-family: var(--secondaryfamilyfont);color:var(--primaryfont);background-color: var(--bgblocpapierdechire);padding: 10px;border-radius: 10px;filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.3));}
.fiche-citation:before{content:'«';margin-right:10px;color:var(--accentcolor);font-size: 2.5em;}.fiche-citation:after{content:'»';margin-left:10px;color:var(--accentcolor);font-size: 2.5em;}
.fiche-physique, .fiche-caractere, .fiche-histoire, .fiche-possessions, .fiche-social, .fiche-dragon, .fiche-magie, .fiche-journalrp{background-color: var(--bgblocpapierdechire);filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.3));margin: 0 auto;border-radius: 10px;}
.fiche-histoire .texte-histoire{max-height:450px;padding:10px;overflow-y:auto;}
.fiche-histoire .exergue-right{display: block;left: 3%;position: relative;width: 100%;background-color: var(--bgpapierdechire);padding: 10px;border-radius: 10px;border-width: 1px;border-style:dashed;transition: transform .3s ease-in-out;}
.fiche-histoire .exergue-right:hover{transform:scale(1.25);}
.fiche-illustrations{display:flex;flex-direction:row;gap:10px;align-items: center;justify-content: center;}
.fiche-illustration-carre{border-width:5px;border-style:solid;height: 150px;width: 150px;background-size: cover;background-position: center;background-repeat: no-repeat;transition: transform .3s ease-in-out;}
.fiche-dragon h4{font-size:3em;}
.fiche-dragon-details{display:flex;flex-direction:row;gap:10px;align-items: center;justify-content: center;width: 95%;margin: 0 auto;}
.fiche-dragon-details div{background-color: var(--bgpapierdechire);border-radius: 10px;flex: 1;}
.fiche-dragon-details div p{max-height:300px;overflow-y:auto;}
.fiche-dragon .fiche-dragon-details div h4{font-size:1.8em;}
.data-message{background-color: var(--bgpapierdechire);filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.3));width: 90%;margin: 0 auto;border-radius: 10px;padding: 10px;}
.data-message h1, .message-genealogie h1{color: var(--accentcolor)!important;text-align: center;font-weight: 700;text-transform: uppercase;font-size: 2.5em;font-family: var(--primaryfamilyfont);}
.data-message-img{display: flex;flex-direction: row;}
.data-message-img .img-presentation{border:5px solid var(--accentcolor)!important;}
.data-message .data-message-img div h1, .relation-presentation h1{color: var(--primaryfont)!important;background-color: var(--accentcolor);background-clip:initial;-webkit-background-clip:initial;}
.data-message .data-message-img div p{padding:5px;}.data-message span.tag-data{margin: 5px;line-height: 3em;background-color: var(--accentcolor);padding: 5px;border-radius: 5px;filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.3));font-weight: 700;text-transform: uppercase;font-family: var(--primaryfamilyfont);}
.message-genealogie h1 a{color: var(--bluecolor)!important;font-size: 0.8em;text-align:center;}
.annexe-relations{display: flex;flex-direction: row;flex-wrap:wrap;justify-content: center;gap: 10px;padding: 10px;}
.data-relation{display: flex;flex-direction: column;flex-wrap: nowrap;align-items: center;border-radius: 10px;background-color: var(--bgpapierdechire);overflow: hidden;}
.relation-presentation{width:200px;}.relation-presentation h1{font-size:1.5em;text-align:center;}.relation-presentation p{padding:5px;max-height:100px;overflow-y:auto;}
.data-relation-img .img-presentation{height: 220px;width: 200px;}
.fiche-journalrp{display: flex;flex-direction: row;flex-wrap: wrap;row-gap: 10px;column-gap: 5px;justify-content: center;align-items: center;align-content: flex-start;padding:10px;}
.fiche-journalrp .recit-journalrp a{width: 100%;line-height: 1em;display: block;height: fit-content;}.fiche-journalrp .recit-journalrp a h2{width: 100%;font-family: var(--primaryfamilyfont);}
.fiche-journalrp .recit-journalrp h3{border-radius: 10px 10px 0 0;font-family: var(--secondaryfamilyfont);font-size: 1em;width: 140px;text-align: right;display: block;margin: 0;}
.fiche-journalrp .recit-journalrp.encours h3{background-color: var(--greencolor);}.fiche-journalrp .recit-journalrp.finis h3{background-color: var(--bluecolor);}.fiche-journalrp .recit-journalrp.abandons h3{background-color: var(--redcolor);}.fiche-journalrp .recit-journalrp h4{font-size: 1.2em;}.fiche-journalrp .recit-journalrp p{padding: 5px;height: 40px;overflow-y: auto;}
.recit-journalrp{background-color: var(--bgpapierdechire);border-radius: 10px;width: 150px;height: 150px;}
.recit-journalrp.encours{border-bottom: 5px solid var(--greencolor);}.recit-journalrp.finis{border-bottom: 5px solid var(--bluecolor);}.recit-journalrp.abandons{border-bottom: 5px solid var(--redcolor);}
#btns-journalrp{display: flex;flex-direction: row;flex-wrap: wrap;align-items: center;justify-content: center;gap: 10px;}.btn-journalrp{color:var(--primaryfontcolor);cursor: pointer;text-transform:uppercase;family-font:var(--primaryfamilyfont);font-size:1.5em;}.btn-journalrp:hover, .btn-journalrp.active{color:var(--accentcolor);}

@media (max-width: 800px) {
.sacremonde-cat-title{width:100%;}.sacremonde-qeel-stats-perso, .sacremonde-qeel-stats-messages{font-size: 1.2em;}.sacremonde-qeel-stats-perso:before {top:0;}.sacremonde-qeel-welcome:before{display:none;}.sacremonde-qeel-annonces-bouton {font-size: 1.5em;}
}
@media (min-width: 800px) and (max-width: 1200px) {
.sacremonde-qeel-welcome:before{display:none;}
}
@media (min-width: 1200px) and (max-width: 1500px) {  
.sacremonde-forum-lastpost{margin-left: 30px;}
}

/*** SWITCHEROO - Par Monomer ------ ***/
/* BARRE SWITCHEROO --- */
.switcheroo {z-index: 105;transform: translateX(-100%);display: none;color: var(--primaryfont);background-color: var(--bgswitcheroo);font-size: 1.3em;opacity:0;transition: .2s ease;}
.switcheroo[position="static"] {position: relative;}
.switcheroo[position="top"] {position: fixed;top: 65px;left: 200px;}
.switcheroo[position="bottom"] {position: fixed;bottom: 0;left: 0;}
.switcheroo[direction="horizontal"] {width: 100%;}
.switcheroo[direction="vertical"] {height: 100%;}

/* Positionnement des ronds */
.switcheroo__squircles {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  padding: var(--switcheroogap-size);
  gap: var(--switcheroogap-size);
}
.switcheroo[direction="horizontal"] .switcheroo__squircles {flex-direction: row;}
.switcheroo[direction="vertical"] .switcheroo__squircles {flex-direction: column;}
/* AFFICHAGE DES COMPTES ---*/
/* Rond */
.switcheroo__squircle {
  position: relative;
  display: grid;
  place-items: center;
  background-color: var(--primarycolor);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: border-radius 128ms var(--switcherooease);
}
.switcheroo__squircle:hover {border-radius: 5px;background: var(--primarycolor);}

.switcheroo__avatar {}
.switcheroo__avatar img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  transition: border-radius 128ms var(--switcherooease);
  position: relative;
  filter:grayscale(80%);
}
.switcheroo__avatar img:hover {filter:grayscale(0%);border-radius:5px;}
.switcheroo__squircle.active, .switcheroo__squircle.active img {border-radius:5px;filter:grayscale(0%);cursor: default;}
/* Indicateur de l'avatar survolé */
.switcheroo__squircle:before {
  content: "";
  display: block;
  background-color: var(--darkbluecolor);
  border-radius: 50%;
  height: 48px;
  width: 48px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: -5px;
  bottom: 0;
  right: 0;
  left: -5px;
  z-index: -1;
  transform 128ms var(--switcherooease), opacity 64ms var(--switcherooease);
}
/* Indicateur du compte sélectionné/actif */
.switcheroo__squircle.active:before {opacity: 1;border-radius: 5px;background-color: var(--darkgreencolor);}
.switcheroo__squircle:hover:before {border-radius: 5px;opacity: 1;transform 128ms var(--switcherooease), opacity 64ms var(--switcherooease);}
/* Bouton de suppression */
.switcheroo__delete {font-size:1em;
  display: grid;
  place-items: center;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -7px;
  right: -7px;
  border-radius: 50%;
  background-color: var(--darkredcolor);
  transform: scale(0);
  opacity: 1;
  transition: transform 128ms var(--ease), opacity 64ms var(--switcherooease);
  cursor: pointer;
  color: var(--secondaryfont);
}
.switcheroo__squircle:hover .switcheroo__delete {opacity: 1;transform: scale(1);}
/* TOOLTIP - INFOBULLE DU PSEUDO ---*/
.switcheroo__popper {
  background-color: var(--primarycolor);
  padding: 0.5rem;
  position: absolute;
  width: -webkit-max-content;
  width: max-content;
  border-radius: 5px;
  z-index: 0;
  opacity: 0;
  transition: opacity 64ms var(--switcherooease), transform 128ms var(--switcherooease-bounce);
  pointer-events: none;
  color: var(--primaryfont);
}
.switcheroo[direction="vertical"] .switcheroo__popper {left: 150%;top: 50%;transform-origin: left;transform: translateY(-50%) scale(0.98);}
.switcheroo[direction="horizontal"] .switcheroo__popper {top: 155%;left: 50%;transform-origin: top;transform: translateX(-50%) scale(0.98);}
.switcheroo__popper:before {content: "";position: absolute; width: 24px;height: 24px;background-color: var(--primarycolor);z-index: -1;}
.switcheroo[direction="vertical"] .switcheroo__popper:before {left: -2px;top: 50%;transform: translateY(-50%) rotate(-45deg);}
.switcheroo[direction="horizontal"] .switcheroo__popper:before {left: 50%;top: -2px;transform: translateX(-50%) rotate(-45deg);}
.switcheroo[direction="vertical"] .switcheroo__squircle:hover .switcheroo__popper {opacity: 1;transform: translateY(-50%) scale(1);}
.switcheroo[direction="horizontal"] .switcheroo__squircle:hover .switcheroo__popper {opacity: 1;transform: translateX(-50%) scale(1);}
/*LOGO&SEPARATION*/
.switcheroo__logo {display: none;}
.switcheroo__divider {display: none;}
.switcheroo[direction="vertical"] .switcheroo__divider {width: 100%;height: 2px;}
.switcheroo[direction="horizontal"] .switcheroo__divider {width: 2px;}
/*AJOUTER UN COMPTE*/
.switcheroo__squircle--button{transition: border-radius 128ms var(--switcherooease);color: var(--primaryfont);}
.switcheroo__squircle--button:hover{color: var(--primaryfont);}
/* MODAL : FENETRE DE CONNEXION --- */
/* Fond de l'afficage connexion */
.monomer-overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: 0.2s opacity ease;
  background: rgba(255, 255, 255, 0.6);
}
.monomer-modal {position: fixed;z-index: 999;top: 50%;left: 50%;opacity: 0;width: 94%;padding: 24px 20px;transition: 0.2s opacity ease;transform: translate(-50%, -50%);border-radius: 10px;background: var(--primarycolor);border-bottom: 5px solid var(--greencolor);color: var(--primaryfont);filter: drop-shadow(0px 2px 1px rgba(0,0,0,0.3));}
/* Formulaire */
.switcheroo__form {padding: 48px;background: transparent;border-radius: 5px;}
.switcheroo__form-row {display: flex;flex-flow: column;align-items: flex-start;margin-bottom: 16px;}
.switcheroo__form-label {margin-bottom: 8px;font-size: 14px;text-transform: uppercase;font-weight: 600;}
.switcheroo__form-input {padding: 6px;font-size: 16px;border-radius: 5px;width: 100%;background-color: var(--accentcolor)!important;border: none;border-bottom: 3px solid var(--goldcolor)!important;color: var(--primaryfont);cursor: text;}
.switcheroo__form-button{border-radius: 8px;padding: 4px 6px;border: none;outline: none;box-shadow: none;text-transform: uppercase;font-size: 2em;align-self: flex-end;font-weight:900;background-image: var(--degradevert);color: transparent!important;background-clip: text;-webkit-background-clip: text;cursor: pointer;box-shadow: inset 0 0 0 0 var(--greencolor);transition: color .3s ease-in-out, box-shadow .3s ease-in-out;}
.switcheroo__form-button:hover{color: var(--secondaryfont)!important;box-shadow: inset 200px 0 0 0 var(--greencolor);}
.monomer-modal.monomer-open, .monomer-overlay.monomer-open {opacity: 1;}
.monomer-close {
  font-size: 1.5em;
  display: grid;
  place-items: center;
  width: 24px;
  height: 24px;
  position: absolute;
  top: -7px;
  right: -7px;
  padding: 5px;
  cursor: pointer;
  color: var(--primaryfont);
  border: 0;
  outline: none;
  background: var(--redcolor);
  border-radius: 50%;
  padding: 0;
}
.monomer-close:hover {color: var(--secondaryfont);}
#toggleSwitcheroo{display:none;}
.button-toggleSwitcheroo{width: 20px;height: 35px;z-index:101;position: fixed;top: 80px;left: 200px;cursor: pointer;background: var(--primarycolor);border-radius:0 5px 5px 0;font-size:1.8em;line-height:1.7em;text-align:center;font-weight:800;font-family: var(--primaryfamilyfont);color:var(--primaryfont);transition:0.4s;}
#toggleSwitcheroo:checked + .button-toggleSwitcheroo::before{content:attr(data-hide-label);}
#toggleSwitcheroo:not(:checked) + .button-toggleSwitcheroo::before{content:attr(data-show-label);}
.switcheroo.visible {transform: translateX(30%);opacity: 1;display: block;}

.codebox {position: relative;}
.hljs{display:inline-block;padding:0.5em;color:var(--primaryfont)!important;background:var(--primarycolor);}
.hljs-comment,.hljs-template_comment,.diff .hljs-header,.hljs-javadoc{color:var(--bgswitch_scheme);font-style:italic;}
.hljs-keyword,.css .rule .hljs-keyword,.hljs-winutils,.javascript .hljs-title,.nginx .hljs-title,.hljs-subst,.hljs-request,.hljs-status{color:var(--primaryfont);font-weight:bold;}
.hljs-number,.hljs-hexcolor,.ruby .hljs-constant {color:#099;}
.hljs-string,.hljs-tag .hljs-value,.hljs-phpdoc,.tex .hljs-formula{color:var(--redcolor);}
.hljs-title,.hljs-id,.coffeescript .hljs-params,.scss .hljs-preprocessor{color:var(--darkredcolor);font-weight:bold;}
.javascript .hljs-title,.lisp .hljs-title,.clojure .hljs-title,.hljs-subst{font-weight:normal;}
.hljs-class .hljs-title,.haskell .hljs-type,.vhdl .hljs-literal,.tex .hljs-command{color:var(--darkgreencolor);font-weight:bold;}
.hljs-tag,.hljs-tag .hljs-title,.hljs-rules .hljs-property,.django .hljs-tag .hljs-keyword {color:var(--bluecolor);font-weight:normal;}
.hljs-attribute,.hljs-variable,.lisp .hljs-body {color:var(--greencolor);}
.hljs-regexp{color:var(--darkgreencolor);}
.hljs-symbol,.ruby .hljs-symbol .hljs-string,.lisp .hljs-keyword,.tex .hljs-special,.hljs-prompt {color:var(--goldcolor);}
.hljs-built_in,.lisp .hljs-title,.clojure .hljs-built_in {color:#0086b3;}
.hljs-preprocessor,.hljs-pragma,.hljs-pi,.hljs-doctype,.hljs-shebang,.hljs-cdata{color:var(--bgswitch_scheme);font-weight:bold;}
.hljs-deletion{background:#fdd;}
.hljs-addition{background:#dfd;}
.diff .hljs-change{background:#0086b3;}
.hljs-chunk{color:var(--bgswitch_scheme);}
/* bouton "copier" */
.copyCode {font-size: 0.8em;font-weight: normal;position: absolute;top: 10px;right: 13px;font-family: var(--secondaryfamilyfont);cursor: pointer;}
.copiedCode{font-weight: bold;}
/*PAGES RECHERCHE*/
.bloc-recherches, .bloc-recherchesbis, .bloc-recherchester{filter: drop-shadow(0px 2px 1px rgba(0,0,0,0.3));width:100%;margin-bottom:20px;}
.bloc-recherches fieldset, .bloc-recherchesbis fieldset{display:flex;flex-direction:row;justify-content: space-between;flex-wrap: wrap;gap: 20px;text-align: center;}
.bloc-recherches fieldset dl, .bloc-recherchesbis fieldset dl{width:45%;padding:10px;border-radius:10px;background:var(--bgblocpapierdechire);border-bottom:5px solid var(--redcolor);}
.bloc-recherches fieldset dl{border-bottom:5px solid var(--redcolor);}
.bloc-recherchesbis fieldset dl{border-bottom:5px solid var(--bluecolor);}
.bloc-recherches fieldset dt, .bloc-recherchesbis fieldset dt{width: 100%;margin-bottom:5px;}
.bloc-recherches fieldset dd, .bloc-recherchesbis fieldset dd{margin-left: 0%;}
.bloc-recherches input.button2{margin-top:5px;border: none;border-radius:10px;padding: 0px 10px;position: relative;font-weight:700;text-transform:uppercase;font-size: 1.5em;line-height:2em;font-family:var(--secondaryfamilyfont);color: transparent!important;background-clip: text;-webkit-background-clip: text;background-image:var(--degradevert);box-shadow: inset 0 0 0 0 var(--greencolor);transition: all .3s ease-in-out;}
.bloc-recherches input.button2:hover{box-shadow: inset 800px 0 0 0 var(--greencolor);color: var(--primaryfont)!important;text-decoration:none;}
.bloc-recherchester fieldset.submit-buttons input[type="submit"]{border: none;border-radius:10px;padding: 0px 10px;width:40%;position: relative;font-weight:700;text-transform:uppercase;font-size: 2.5em;line-height:2em;font-family:var(--secondaryfamilyfont);color: transparent!important;background-clip: text;-webkit-background-clip: text;background-image:var(--degradevert);box-shadow: inset 0 0 0 0 var(--greencolor);transition: all .3s ease-in-out;}
.bloc-recherchester fieldset.submit-buttons input[type="submit"]:hover{box-shadow: inset 800px 0 0 0 var(--greencolor);color: var(--primaryfont)!important;text-decoration:none;}
.nouveaupost .statut-sujet-recherche{background:var(--greencolor)!important;}
.ancienpost .statut-sujet-recherche{background:var(--bluecolor)!important;}
.verrouillepost .statut-sujet-recherche{background:var(--redcolor)!important;}
.nouveaupost{border-bottom:5px solid var(--greencolor)!important;}
.ancienpost{border-bottom:5px solid var(--bluecolor)!important;}
.verrouillepost{border-bottom:5px solid var(--redcolor)!important;}
.liste-sujets-recherche{filter: drop-shadow(0px 2px 1px rgba(0,0,0,0.3));width:100%;display:flex;flex-wrap: wrap;flex-direction:row;gap:20px;}
.bloc-sujet-recherche{position:relative;display:flex;flex-direction:column;width:30%;border-radius:10px;background:var(--bgblocpapierdechire);}
.statut-sujet-recherche{width:100%;height:50px;border-radius:10px 10px 0 0;background:var(--bgblocpapierdechire);display: flex;flex-direction: column;justify-content: flex-end;}
.statut-sujet-recherche img{display:none;}
.stats-sujet-recherche{padding-right:5px;font-family:var(--tertiaryfamilyfont);font-size: 1.2em;line-height:1em;color: var(--primaryfont);text-align:right;}
.stats-sujet-recherche a{font-size: 1em!important;line-height:1em!important;color: var(--primaryfont);font-family: var(--secondaryfamilyfont);font-weight:700;text-transform:uppercase;}
.titre-sujet-recherche{padding:10px;}
.titre-sujet-recherche a{text-align:center;color: var(--primaryfont);font-family:var(--secondaryfamilyfont);font-size: 1.2em;line-height:2em;font-weight:700;text-transform:uppercase;transition: color .3s ease-in-out;}
.titre-sujet-recherche a:hover{color: var(--accentcolor);text-decoration:none;}
.pagination-sujet-recherche{}
.lastpost-sujet-recherche a{width:25px;height:25px;position: absolute;bottom: 0;left:95%;border-radius:100%;background:var(--secondarycolor);}
.lastpost-sujet-recherche a img{width:100%;height:100%;}
.bloc-message-recherche{filter: drop-shadow(0px 2px 1px rgba(0,0,0,0.3));width:100%;margin-bottom: 20px;border-radius:10px;background:var(--bgblocpapierdechire);border-bottom:5px solid var(--goldcolor);}
.bloc-message-recherche:nth-child(even){}
.header-message-recherche{padding:10px;display: flex;align-items: center;justify-content: space-between;flex-direction: row;}
.titre-message-recherche {display: flex;flex-direction: column;align-items: flex-start;justify-content: space-between;}
.titre-message-recherche a{text-align:center;color: var(--primaryfont);font-family:var(--secondaryfamilyfont);font-size: 2em;line-height:2em;font-weight:700;text-transform:uppercase;transition: color .3s ease-in-out;}
.titre-message-recherche a:hover{color: var(--accentcolor);text-decoration:none;}
.content-message-recherche div{padding:10px;font-size: 1.2em;}
.collapse-message-recherche{background:transparent;color: var(--primaryfont);cursor: pointer;padding: 5px;width: 100%;border: none;}
.collapse-message-recherche:hover{color:var(--greencolor);}
.collapse-message-recherche.active:hover{color:var(--redcolor);}
.collapse-message-recherche:after {font-size: 1.5em;font: var(--fa-font-solid);content: '\f055';}
.collapse-message-recherche.active:after  {content: "\f056";}
.spoiler-body {display: none;}
#simple-wrap{padding:10px;}
/*VIEWONLINE*/
.liste-viewonline{display: flex;flex-direction:row;gap:10px;flex-wrap: wrap;}
.bloc-viewonline{color: var(--primaryfont);overflow: hidden;border-radius:10px;display: flex;flex-direction:column;padding: 10px;background-color:var(--bgblocpapierdechire);filter: drop-shadow(0px 2px 1px rgba(0,0,0,0.3));border-bottom:5px solid var(--goldcolor);}
.varonline-user{font-family:var(--secondaryfamilyfont);font-size: 2.2em;line-height:2em;font-weight:700;text-transform:uppercase;text-align:center;}
a.viewonline-action{font-family:var(--secondaryfamilyfont);color: var(--primaryfont);font-size: 1.2em;line-height:1.5em;}
.viewonline-update{font-family:var(--tertiaryfamilyfont);font-size: 1.2em;line-height:1em;color: var(--primaryfont);}
.viewonline-p{margin-top:10px;font-family:var(--secondaryfamilyfont);color: var(--primaryfont);text-transform:uppercase;}
/*MESSAGES ADMIN*/
.message-admin{filter: drop-shadow(0px 2px 1px rgba(0,0,0,0.3));width:90%;margin:0 auto;}
.entete-message-admin{display:flex;flex-direction:row;align-items: center;justify-content: space-between;background-color: var(--bgpapierdechire);border-radius: 10px;}
.entete-message-admin div{margin-right:10px;}
.entete-message-admin div h1{text-align: right;font-weight: 700;text-transform: uppercase;font-size: 2.5em;font-family: var(--primaryfamilyfont);}
.entete-message-admin div h2, .contenu-message-admin h4, .admin-presentation-img div h1{text-align: right;font-weight: 700;text-transform: uppercase;font-size: 1.5em;font-family: var(--primaryfamilyfont);}
.color-message-admin{width: 80px;height: 80px;border-radius: 10px 0 0 10px;}
.contenu-message-admin{background-color: var(--bgpapierdechire);border-radius: 10px;padding:10px;}
.contenu-message-admin a, .copyright-message-admin{font-weight: 700;text-transform: uppercase;font-size: 1.5em;font-family: var(--primaryfamilyfont);}
.copyright-message-admin{padding:10px;border-radius:10px;text-align:center;color: transparent !important;background-clip: text;-webkit-background-clip: text;transition: color .3s ease-in-out, box-shadow .3s ease-in-out;}
.contenu-message-admin h3{display: inline-block;padding:10px;border-radius:5px;font-weight: 700;text-transform: uppercase;font-size: 2em;font-family: var(--primaryfamilyfont);color: transparent !important;background-clip: text;-webkit-background-clip: text;transition: color .3s ease-in-out, box-shadow .3s ease-in-out;}
.contenu-message-admin h4{display: inline-block;color:var(--primaryfont);padding:5px;border-radius:5px;}
.contenu-message-admin h5{display: inline-block;color:var(--primaryfont);font-family: var(--secondaryfamilyfont);font-size: 1.5em;}
.contenu-message-admin p a, .contenu-message-admin table td a{font-size: 1em;}
.contenu-message-admin table{background-color: var(--primarycolor);border-radius: 10px;overflow:hidden;border-collapse: collapse;}
.contenu-message-admin table th{font-weight: 700;text-transform: uppercase;font-size: 1.2em;font-family: var(--primaryfamilyfont);color:var(--primaryfont);}
.contenu-message-admin table td{padding: 5px;}
.admin-img-right{display: block;float: right;left: 3%;position: relative;height: 100px;width: 100%;margin-bottom:20px;background-size: 100% auto;background-repeat: no-repeat;border: 5px solid var(--secondarycolor);transition: transform .3s ease-in-out;}
.admin-img-left{display: block;float: left;right: 3%;position: relative;height: 100px;width: 100%;margin-bottom:20px;background-size: 100% auto;background-repeat: no-repeat;border: 5px solid var(--secondarycolor);transition: transform .3s ease-in-out;}
.admin-img-carre{display: inline-block;margin: 5px 5px 0 0;height: 200px;width: 200px;background-size: cover;background-position: center;background-repeat: no-repeat;border: 5px solid var(--secondarycolor);transition: transform .3s ease-in-out;}
.admin-img-carre:hover, .admin-img-right:hover, .admin-img-left:hover, .img-presentation:hover{transform:scale(125%);}
.admin-img-credit{background-color: var(--primarycolor);padding: 0 5px;float: right;font-size: 0.8em;}
.message-remarque{filter: drop-shadow(0px 2px 1px rgba(0,0,0,0.3));border-radius: 10px;background-color: var(--primarycolor);border: 2px dashed var(--accentcolor);}
.message-remarque h4{position: relative;left: 5%;background-color:transparent!important;}
.message-remarque p{padding: 0 10px 10px 10px;}
.tag-rarete{padding: 5px;border-radius:5px;filter: drop-shadow(0px 2px 1px rgba(0,0,0,0.3));font-weight: 700;text-transform: uppercase;font-family: var(--primaryfamilyfont);}
.sacremonde-timeline{position: relative;bottom: 10px;}
.entete-message-admin.bleu .color-message-admin{background-color: var(--bluecolor);}
.entete-message-admin.bleu h1{color: transparent !important;background-clip: text;-webkit-background-clip: text;background-image: var(--degradebleu);}
.contenu-message-admin.bleu a{color:var(--bluecolor);}
.contenu-message-admin.bleu h4{background-color:var(--bluecolor);}
.contenu-message-admin.bleu h5{border-bottom:5px solid var(--bluecolor);}
.copyright-message-admin.bleu, .contenu-message-admin.bleu h3{background-image: var(--degradebleu);box-shadow: inset 0 0 0 0 var(--bluecolor);}
.copyright-message-admin.bleu:hover, .contenu-message-admin.bleu h3:hover{color:var(--primaryfont)!important;background-image: var(--degradebleu);box-shadow: inset 1200px 0 0 0 var(--bluecolor);}
.entete-message-admin.gold .color-message-admin{background-color: var(--goldcolor);}
.entete-message-admin.gold h1{color: transparent !important;background-clip: text;-webkit-background-clip: text;background-image: var(--degradegold);}
.contenu-message-admin.gold a{color:var(--goldcolor);}
.contenu-message-admin.gold h4{background-color:var(--goldcolor);}
.contenu-message-admin.gold h5{border-bottom:5px solid var(--goldcolor);}
.copyright-message-admin.gold, .contenu-message-admin.gold h3{background-image: var(--degradegold);box-shadow: inset 0 0 0 0 var(--goldcolor);}
.copyright-message-admin.gold:hover, .contenu-message-admin.gold h3:hover{color:var(--primaryfont)!important;background-image: var(--degradegold);box-shadow: inset 1200px 0 0 0 var(--goldcolor);}
.entete-message-admin.grenat .color-message-admin{background-color: var(--darkredcolor);}
.entete-message-admin.grenat h1{color: transparent !important;background-clip: text;-webkit-background-clip: text;background-image:linear-gradient(var(--darkredcolor) 5%, var(--bronzecolor));}
.contenu-message-admin.grenat a{color:var(--darkredcolor);}
.contenu-message-admin.grenat h4{background-color:var(--darkredcolor);}
.contenu-message-admin.grenat h5{border-bottom:5px solid var(--darkredcolor);}
.copyright-message-admin.grenat, .contenu-message-admin.grenat h3{background-image:linear-gradient(var(--darkredcolor) 5%, var(--bronzecolor));box-shadow: inset 0 0 0 0 var(--darkredcolor);}
.copyright-message-admin.grenat:hover, .contenu-message-admin.grenat h3:hover{color:var(--primaryfont)!important;background-image:linear-gradient(var(--darkredcolor) 5%, var(--bronzecolor));box-shadow: inset 1200px 0 0 0 var(--darkredcolor);}
.entete-message-admin.rouge .color-message-admin{background-color: var(--redcolor);}
.entete-message-admin.rouge h1{color: transparent !important;background-clip: text;-webkit-background-clip: text;background-image: var(--degraderouge);}
.contenu-message-admin.rouge a{color:var(--redcolor);}
.contenu-message-admin.rouge h4{background-color:var(--redcolor);}
.contenu-message-admin.rouge h5{border-bottom:5px solid var(--redcolor);}
.copyright-message-admin.rouge, .contenu-message-admin.rouge h3{background-image: var(--degraderouge);box-shadow: inset 0 0 0 0 var(--redcolor);}
.copyright-message-admin.rouge:hover, .contenu-message-admin.rouge h3:hover{color:var(--primaryfont)!important;background-image: var(--degraderouge);box-shadow: inset 1200px 0 0 0 var(--redcolor);}
.contenu-message-admin.rouge table th{background-color: var(--redcolor);}
.contenu-message-admin.rouge table tr{border-bottom:3px solid var(--redcolor);}
.contenu-message-admin.rouge .img-presentation{border: 5px solid var(--redcolor);}
.contenu-message-admin.rouge .admin-presentation-img div h1{background-color: var(--redcolor);}
.entete-message-admin.vert .color-message-admin{background-color: var(--greencolor);}
.entete-message-admin.vert h1{color: transparent !important;background-clip: text;-webkit-background-clip: text;background-image: var(--degradevert);}
.contenu-message-admin.vert a{color:var(--greencolor);}
.contenu-message-admin.vert h4{background-color:var(--greencolor);}
.contenu-message-admin.vert h5{border-bottom:5px solid var(--greencolor);}
.copyright-message-admin.vert, .contenu-message-admin.vert h3{background-image: var(--degradevert);box-shadow: inset 0 0 0 0 var(--greencolor);}
.copyright-message-admin.vert:hover, .contenu-message-admin.vert h3:hover{color:var(--primaryfont)!important;background-image: var(--degradevert);box-shadow: inset 1200px 0 0 0 var(--greencolor);}
.contenu-message-admin.vert table th{background-color: var(--greencolor);}
.contenu-message-admin.vert table tr{border-bottom:3px solid var(--greencolor);}
.contenu-message-admin.vert .img-presentation{border: 5px solid var(--greencolor);}
.contenu-message-admin.vert .admin-presentation-img div h1{background-color: var(--greencolor);}
.sacremonde-timelime-bullet{display: flex;flex-direction: column;align-items: flex-start;}
.sacremonde-timelime-bullet h5{padding-left:10px;}
.sacremonde-timelime-bullet span{margin-top: 5px;text-transform: uppercase;font-size: 1em;}
.admin-presentation-img{display:flex;flex-direction:row;}
.admin-presentation-img p, .admin-presentation-img div h1{padding:5px;}
.img-presentation{background-repeat: no-repeat;height: 200px;width: 200px;background-size: cover;background-position: center;transition: transform .3s ease-in-out;}
